# قاعدة البيانات PostgreSQL (مطلوب)
DATABASE_URL=postgresql://chatbot_db_pf2v_user:z6c926ykxmhqb4X7WWYVsM5OSddWdpMf@dpg-d7f2qkbeo5us73fqi20g-a.ohio-postgres.render.com/chatbot_db_pf2v

# Telegram Bot
TELEGRAM_BOT_TOKEN=8705846694:AAHz1ckUypq9dHwdEIwfCv1dQrONrOmornU
ADMIN_CHAT_ID=7434073288

# السيرفر
PORT=3000
APP_NAME=yuseef Chat Bot
